parameters:
    database_driver: pdo_mysql
    database_host: {{ mysql_host }}
    database_port: null
    database_name: {{ mysql_database }}
    database_user: {{ mysql_user }}
    database_password: {{ passwords[name]['mysql'] }}
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    locale: fr
    secret: ThisTokenIsNotSoSecretChangeIt

