<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    ServerAlias bo.prestashopxmlimporter.madef.fr

    DocumentRoot /var/www/adminprestashopxmlimporter/bo
    <Directory />
        Options FollowSymLinks
        AllowOverride None
        AuthName "Acces protege"
        AuthType Basic
        AuthUserFile "/var/www/adminprestashopxmlimporter/bo/.htpasswd"
        Require valid-user
    </Directory>
    <Directory /var/www/adminprestashopxmlimporter/bo/>
        Options Indexes FollowSymLinks MultiViews
        AllowOverride All
        #Order allow,deny
        Require valid-user
        #allow from all
    </Directory>

    ScriptAlias /cgi-bin/ /usr/lib/cgi-bin/
    <Directory "/usr/lib/cgi-bin">
        AllowOverride None
        Options +ExecCGI -MultiViews +SymLinksIfOwnerMatch
        Require valid-user
        #Order allow,deny
        #Allow from all
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log

    # Possible values include: debug, info, notice, warn, error, crit,
    # alert, emerg.
    LogLevel warn

    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>

<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    ServerAlias xslt.prestashopxmlimporter.madef.fr

    DocumentRoot /var/www/adminprestashopxmlimporter/xslt
    <Directory />
        Options FollowSymLinks
        AllowOverride None
    </Directory>
    <Directory /var/www/adminprestashopxmlimporter/xslt/>
        Options Indexes FollowSymLinks MultiViews
        AllowOverride All
        Order allow,deny
            allow from all
    </Directory>

    ScriptAlias /cgi-bin/ /usr/lib/cgi-bin/
    <Directory "/usr/lib/cgi-bin">
        AllowOverride None
        Options +ExecCGI -MultiViews +SymLinksIfOwnerMatch
        Require valid-user
        #Order allow,deny
        #Allow from all
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log

    # Possible values include: debug, info, notice, warn, error, crit,
    # alert, emerg.
    LogLevel warn

    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>

<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    ServerAlias register.prestashopxmlimporter.madef.fr

    DocumentRoot /var/www/adminprestashopxmlimporter/register
    <Directory />
        Options FollowSymLinks
        AllowOverride None
    </Directory>
    <Directory /var/www/adminprestashopxmlimporter/register/>
        Options Indexes FollowSymLinks MultiViews
        AllowOverride All
        Order allow,deny
            allow from all
    </Directory>

    ScriptAlias /cgi-bin/ /usr/lib/cgi-bin/
    <Directory "/usr/lib/cgi-bin">
        AllowOverride None
        Options +ExecCGI -MultiViews +SymLinksIfOwnerMatch
        Require valid-user
        #Order allow,deny
        #Allow from all
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log

    # Possible values include: debug, info, notice, warn, error, crit,
    # alert, emerg.
    LogLevel warn

    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>

<IfModule mod_ssl.c>
    <VirtualHost *:443>
        ServerAdmin webmaster@localhost
        ServerAlias register.prestashopxmlimporter.madef.fr

        DocumentRoot /var/www/adminprestashopxmlimporter/register
        <Directory />
            Options FollowSymLinks
            AllowOverride None
        </Directory>
        <Directory /var/www/adminprestashopxmlimporter/register/>
            Options Indexes FollowSymLinks MultiViews
            AllowOverride All
            Order allow,deny
            allow from all
        </Directory>

        ScriptAlias /cgi-bin/ /usr/lib/cgi-bin/
        <Directory "/usr/lib/cgi-bin">
            AllowOverride None
            Options +ExecCGI -MultiViews +SymLinksIfOwnerMatch
            Order allow,deny
            Allow from all
        </Directory>

        ErrorLog ${APACHE_LOG_DIR}/error.log

        # Possible values include: debug, info, notice, warn, error, crit,
        # alert, emerg.
        LogLevel warn

        #CustomLog ${APACHE_LOG_DIR}/access.log combined
        #SSLCertificateFile /etc/letsencrypt/live/register.prestashopxmlimporter.madef.fr-0001/fullchain.pem
        #SSLCertificateKeyFile /etc/letsencrypt/live/register.prestashopxmlimporter.madef.fr-0001/privkey.pem
        #Include /etc/letsencrypt/options-ssl-apache.conf
    </VirtualHost>
</IfModule>

<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    ServerAlias unregister.prestashopxmlimporter.madef.fr

    DocumentRoot /var/www/adminprestashopxmlimporter/unregister
    <Directory />
        Options FollowSymLinks
        AllowOverride None
    </Directory>
    <Directory /var/www/adminprestashopxmlimporter/unregister/>
        Options Indexes FollowSymLinks MultiViews
        AllowOverride All
        Order allow,deny
        allow from all
    </Directory>

    ScriptAlias /cgi-bin/ /usr/lib/cgi-bin/
    <Directory "/usr/lib/cgi-bin">
        AllowOverride None
        Options +ExecCGI -MultiViews +SymLinksIfOwnerMatch
        Require valid-user
        #Order allow,deny
        #Allow from all
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log

    # Possible values include: debug, info, notice, warn, error, crit,
    # alert, emerg.
    LogLevel warn

    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>

<IfModule mod_ssl.c>
    <VirtualHost *:443>
        ServerAdmin webmaster@localhost
        ServerAlias unregister.prestashopxmlimporter.madef.fr

        DocumentRoot /var/www/adminprestashopxmlimporter/unregister
        <Directory />
            Options FollowSymLinks
            AllowOverride None
        </Directory>
        <Directory /var/www/adminprestashopxmlimporter/unregister/>
            Options Indexes FollowSymLinks MultiViews
            AllowOverride All
            Order allow,deny
            allow from all
        </Directory>

        ScriptAlias /cgi-bin/ /usr/lib/cgi-bin/
        <Directory "/usr/lib/cgi-bin">
            AllowOverride None
            Options +ExecCGI -MultiViews +SymLinksIfOwnerMatch
            Order allow,deny
            Allow from all
        </Directory>

        ErrorLog ${APACHE_LOG_DIR}/error.log

        # Possible values include: debug, info, notice, warn, error, crit,
        # alert, emerg.
        LogLevel warn

        #CustomLog ${APACHE_LOG_DIR}/access.log combined
        #SSLCertificateFile /etc/letsencrypt/live/deploy.prestashopxmlimporter.madef.fr/fullchain.pem
        #SSLCertificateKeyFile /etc/letsencrypt/live/deploy.prestashopxmlimporter.madef.fr/privkey.pem
        #Include /etc/letsencrypt/options-ssl-apache.conf
    </VirtualHost>
</IfModule>

<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    ServerAlias deploy.prestashopxmlimporter.madef.fr

    DocumentRoot /var/www/adminprestashopxmlimporter/deploy
    <Directory />
        Options FollowSymLinks
        AllowOverride None
    </Directory>
    <Directory /var/www/adminprestashopxmlimporter/deploy/>
        Options Indexes FollowSymLinks MultiViews
        AllowOverride All
        Order allow,deny
        allow from all
    </Directory>

    ScriptAlias /cgi-bin/ /usr/lib/cgi-bin/
    <Directory "/usr/lib/cgi-bin">
        AllowOverride None
        Options +ExecCGI -MultiViews +SymLinksIfOwnerMatch
        Require valid-user
        #Order allow,deny
        #Allow from all
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log

    # Possible values include: debug, info, notice, warn, error, crit,
    # alert, emerg.
    LogLevel warn

    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>

<IfModule mod_ssl.c>
    <VirtualHost *:443>
        ServerAdmin webmaster@localhost
        ServerAlias deploy.prestashopxmlimporter.madef.fr

        DocumentRoot /var/www/adminprestashopxmlimporter/deploy
        <Directory />
            Options FollowSymLinks
            AllowOverride None
        </Directory>
        <Directory /var/www/adminprestashopxmlimporter/deploy/>
            Options Indexes FollowSymLinks MultiViews
            AllowOverride All
            Order allow,deny
            allow from all
        </Directory>

        ScriptAlias /cgi-bin/ /usr/lib/cgi-bin/
        <Directory "/usr/lib/cgi-bin">
            AllowOverride None
            Options +ExecCGI -MultiViews +SymLinksIfOwnerMatch
            Order allow,deny
            Allow from all
        </Directory>

        ErrorLog ${APACHE_LOG_DIR}/error.log

        # Possible values include: debug, info, notice, warn, error, crit,
        # alert, emerg.
        LogLevel warn

        #CustomLog ${APACHE_LOG_DIR}/access.log combined
        #SSLCertificateFile /etc/letsencrypt/live/deploy.prestashopxmlimporter.madef.fr/fullchain.pem
        #SSLCertificateKeyFile /etc/letsencrypt/live/deploy.prestashopxmlimporter.madef.fr/privkey.pem
        #Include /etc/letsencrypt/options-ssl-apache.conf
    </VirtualHost>
</IfModule>

