<VirtualHost *:80>
    ServerName {{ item.domain }}
    DocumentRoot /var/www/{{ item.name }}
    SSLEngine on
    <Directory /var/www/{{ item.name }}>
        AllowOverride All
        Options Indexes FollowSymLinks MultiViews
    </Directory>
    RewriteEngine on
</VirtualHost>
<VirtualHost *:443>
    ServerName {{ item.domain }}
    DocumentRoot /var/www/{{ item.name }}
    SSLEngine on
    <Directory /var/www/{{ item.name }}>
        AllowOverride All
        Options Indexes FollowSymLinks MultiViews
    </Directory>
    RewriteEngine on
</VirtualHost>
